<div class="step slide container"  data-x="2000" data-y="2000" data-z="-2500" data-rotate-x="87">
  <div class="page-header row">
    <h1>Advanced JS: <small>What is Advanced?</small></h1></div>
  <div class="row">
    <h2>Fabbro Continued:</h2>
    <h3>Clues You're Not Quite An Expert</h3>
    <div class="col-xs-6">
      <ul>
        <li><a href="http://afabbro.github.io/jsconf2013/#34">"YOU DON'T QUITE GROK ALL THE CODE YOU READ
/ <i>even when it has comments</i>"</a>
        </li>
        <li><a href="http://afabbro.github.io/jsconf2013/#35">"YOU CAN'T EXPLAIN WHAT YOU KNOW"</a>
        </li>
        <li><a href="http://afabbro.github.io/jsconf2013/#36">"YOU AREN'T CONFIDENT DEBUGGING"</a>
        </li>
        <li><a href="http://afabbro.github.io/jsconf2013/#37">"YOU RELY ON REFERENCES WAY TOO MUCH"</a>
        </li>
      </ul>
    </div>
  </div>
</div>