<div class="step slide container"  data-x="32000" data-y="3000" data-z="-1500" data-rotate-x="87">
  <div class="page-header row">
    <div class="col-xs-12">
      <h1>Advanced JS: <small>Package Management</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>RequireJS<img src="http://bran.name/dump/requirejs-logo.svg" height="50"></h2>
    </div>    
    <div class="row">
      <div class="col-xs-11">
        <ul>
          <li>Helps us link together and load packages on the front-end</li>
          <ul>
            <li><code>bower install requirejs</code></li>
            <li>Add the header in your html
              <pre data-src="examples/require_header.html"></pre>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>