<div class="step slide container"  data-x="26000" data-y="3000" data-z="-1500" data-rotate-x="87">
  <div class="page-header row">
    <div class="col-xs-12">
      <h1>Advanced JS: <small>What Are Build Tools?</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ul>
        <li>GNU Make <img class="img-responsive" height="50" src="http://www.gnu.org/graphics/heckert_gnu.small.png">
        </li>
        <ul>
          <li>Originally made useful for compiling and working with C code</li>
        </ul>
        <li>Other languages have their own tools</li>
        <ul>
          <li>Ruby has <i>rake</i></li>
          <li>Coffeescript has <i>cake</i></li>
          <li><a href="https://github.com/jashkenas/coffee-script/wiki/List-of-languages-that-compile-to-JS">More?</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>