<div class="step slide container"  data-x="26000" data-y="3000" data-z="-1500" data-rotate-x="87">
  <div class="page-header row">
    <div class="col-xs-12">
      <h1>Advanced JS: <small>Package Management</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
    <div class="col-xs-12">
      <h2>NPM/CommonJS Modules</h2>
      <div>
        <img src="https://www.npmjs.org/static/img/npm.png" height="50"> <br>
         <code>npm run</code>
      </div>
    </div>    
    <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>Lets create a JS linting task</li>
        <li>run <code>$ npm init</code> in terminal to start a new package.json</li>
        <li><code>npm install jshint --save-dev</code></li>
        <li>Add Something like to the right under scripts</li>
        <li><code>npm run lint</code></li>
      </ul>
    </div>
    </div>
  </div>
      <div class="col-xs-6">
      <pre data-src="examples/package.js"></pre>
    </div>
  </div>
</div>