<div class="step slide container"  data-x="4000" data-y="2500" data-z="-2500" data-rotate-x="87">
  <div class="page-header row">
    <h1>Advanced JS: <small>What is Advanced?</small></h1></div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Fabbro Continued:</h2>
      <h3>Ways To Grow!</h3>
    </div>
    <div class="col-xs-8">
      <ul>
        <li>"ASK WHY OBSESSIVELY / <i>short of existential angst</i>"
        </li>
        <li>"TEACH AND/OR SPEAK AT AN EVENT"
        </li>
        <li>WORK THROUGH A SUGGESTED CURRICULUM (BOOKS)
        </li>
        <li>EXPERIMENT RECKLESSLY (THE CODE DOESN'T CARE)
        </li>
        <li>HAVE OPINIONS
        </li>
        <li>SEEK MENTORSHIP
        </li>
        <li>PROGRAM A LOT
        </li>
        <li>STOP FUCKING PROGRAMMING SOMETIMES
        </li>
        <li>WRITE JAVASCRIPT A LOT
        </li>
        <li>WRITE IN ANOTHER LANGUAGE FOR A WHILE
        </li>
        ....
      </ul>
    </div>
  </div>
</div>