<div class="step slide container" data-x="-2000" data-y="1000" data-z="-2500" data-rotate-x="87">
  <div class="page-header row"> <h1>Advanced JS: <small>Intros</small></h1></div>
  <div class="row">
    <h2 class="col-xs-12">Answer The following:</h2>
    <ul class="col-xs-offset-1 col-xs-5">
      <li>What is your name?</li>
      <li>What is your familiarity with the topics?</li>
      <li>What do you hope to learn about?</li>
      <li> <it><a href="https://docs.google.com/a/generalassemb.ly/forms/d/1GI3W_nnTzYSpqh-SyRUFJP_4WlYdAgPP-bHbZbrGOck/viewform">Submit A Survey</a></it></li>
    </ul>
    <div class="col-xs-6">
      <img class="img-responsive" src="app/images/entrance_survey.png">
    </div>
  </div>
</div>