<div class="step slide container" data-x="0" data-y="1500" data-z="-2500" data-rotate-x="87">
  <div class="page-header row"> <h1>Advanced JS: <small>What is Advanced?</small></h1></div>
  <div class="row">
    <div class="col-xs-12"> 
      <h2 ><a href="http://afabbro.github.io/jsconf2013/"> Angelina Fabbro: JS Conf 2013</a></h2>
      <h3>Clues You're Not A Beginner</h3>
    </div>
    <div class="col-xs-8">
      <ul>
        <li><i><a href='http://afabbro.github.io/jsconf2013/#29'>"YOU CAN USE THE FUNDAMENTALS IN ANY LANGUAGE"</a></i>
        </li>
        <li>
          <i><a href='http://afabbro.github.io/jsconf2013/#30'>"YOU ARE COMFORTABLE WRITING CODE FROM SCRATCH"</a></i>
        </li>
        <li>
          <i><a href='http://afabbro.github.io/jsconf2013/#31'>"YOU PEEK INSIDE THE LIBS YOU USE"</a></i>
        </li>
        <li>
          <i><a href='http://afabbro.github.io/jsconf2013/#31'>"YOU FEEL LIKE YOUR CODE IS MEDIOCRE / but / YOU DON'T KNOW WHAT TO DO ABOUT IT"</a></i>
        </li>
      </ul>
    </div>
  </div>
</div>