<div class="step slide container" data-x="-8000" data-y="-500" data-z="-2500" data-rotate-x="87">
  <div class="page-header row"> <h1>Advanced JS: <small>Outline</small></h1></div>
  <div class="row">
    <h2>Setup/Background</h2>
    <ul class="col-xs-offset-1 col-xs-10">
      <li>(Install Node If It Isn't Already)</li>
      <li>Intros</li>
      <li>What is Advanced? </li>
      <ul>
        <li>Review Advanced Fundamentals</li>
      </ul>
      <li>What Are Build Tools?</li>
      <li>Why Care About Automation?</li>
    </ul>
  </div>
</div>