<div class="step slide container"  data-x="28000" data-y="3000" data-z="-1500" data-rotate-x="87">
  <div class="page-header row">
    <div class="col-xs-12">
      <h1>Advanced JS: <small>Package Management</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>NPM/CommonJS Modules</h2>
      <div>
        <img src="https://www.npmjs.org/static/img/npm.png" height="50"> <br>
         <code>npm run</code>
      </div>
    </div>    
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li>Protip: Also helps us find out which commands we can call</li>
          <li><code>npm completion</code> returns a script for us</li>
          <li><code>npm completion >> ~/.bash_profile</code></li>
        </ul>
      </div>
    </div>
  </div>
</div>