<div class="step slide container"  data-x="14000" data-y="3000" data-z="-1500" data-rotate-x="87">
  <div class="page-header row">
    <h1>Advanced JS: <small>Review Advanced Fundamentals?</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2>Functions First</h2>
      <ul>
        <li>Lexical Scoping</li>
        <li>Lexical Closure</li>
        <li>Apply/Call</li>
        <li>Bind</li>
        <li><mark>First Class</mark></li>
      </ul>
    </div>
    <div class="col-sm-8">
      <pre data-src="examples/first_class.js"></pre>
    </div>
  </div>
</div>